### Lab Assignment 1 - Jack Travers
### Student ID: 200013389
### GitHub URL: https://github.com/Jacktravers81/PY4SA23_Assignment

In [1]:
import numpy as np 
import pandas as pd 
cities_df = pd.read_csv("Assignment 2 Data\world_cities.csv", sep=",", header=0, encoding="ISO-8859-1")
cities_df.head(30)

                  city               country      pop    lat    lon  capital
0   'Abasan al-Jadidah             Palestine     5629  31.31  34.34        0
1   'Abasan al-Kabirah             Palestine    18999  31.32  34.35        0
2         'Abdul Hakim              Pakistan    47788  30.55  72.11        0
3   'Abdullah-as-Salam                Kuwait    21817  29.36  47.98        0
4                'Abud             Palestine     2456  32.03  35.07        0
5              'Abwein             Palestine     3434  32.03  35.20        0
6             'Adadlay               Somalia     9198   9.77  44.65        0
7               'Adale               Somalia     5492   2.75  46.30        0
8                'Afak                  Iraq    22706  32.07  45.26        0
9                'Afif          Saudi Arabia    41731  23.92  42.93        0
10              'Afrin                 Syria    51139  36.51  36.87        0
11              'Afula                Israel    39151  32.62  35.29        0
12           'Ajabshir                  Iran    30766  37.48  45.91        0
13              'Ajjah             Palestine     5143  32.37  35.20        0
14              'Ajlun                Jordan     8629  32.34  35.74        0
15              'Ajman  United Arab Emirates   238605  25.42  55.43        0
16               'Akko                Israel    45606  32.94  35.08        0
17              'Al'al                Jordan     4526  32.63  35.90        0
18              'Alayh               Lebanon    27523  33.81  35.61        0
19          'Alem Maya              Ethiopia    11513   9.40  42.01        0
20                'Ali               Bahrain    57024  26.15  50.53        0
21           'Ali Hayl           Afghanistan    12834  33.94  69.70        0
22          'Ali Sabih              Djibouti    40715  11.16  42.71        0
23       'Ali al Garbi                  Iraq    20370  32.46  46.68        0
24              'Alula               Somalia     5158  11.97  50.76        0
25              'Amman                Jordan  1303197  31.95  35.93        1
26              'Amran                 Yemen    35989  15.66  43.94        0
27              'Amuda                 Syria    45980  37.10  40.93        0
28             'Anabta             Palestine     7311  32.31  35.12        0
29               'Anah                  Iraq    20297  34.47  41.93        0